In [1]:
##############################################################
## MODULE 16 CHALLENGE
##############################################################

##############################################################
## Deliverable 2
##############################################################

import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
spark_version = 'spark-3.2.0'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Hit:2 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:3 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Get:4 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:6 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Ign:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:8 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:9 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:16 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,430 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,442 kB]
Fetched 4,124 kB in 3s (1,379 kB/s)
Reading package lists... Done

In [2]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2021-11-29 09:01:32--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar.1’

postgresql-42.2.16. 100%[===================>] 979.38K  5.59MB/s    in 0.2s

2021-11-29 09:01:32 (5.59 MB/s) - ‘postgresql-42.2.16.jar.1’ saved [1002883/1002883]

In [3]:
# Create a new PySpark Session and name the app "M16-Amazon-Challenge-D2"
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("M16-Amazon-Challenge-D2").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

### Load Amazon Data into Spark DataFrame

In [4]:
# Read the Amazon Review data for Cameras category
from pyspark import SparkFiles
url = "https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Camera_v1_00.tsv.gz"
spark.sparkContext.addFile(url)
df = spark.read.option("encoding", "UTF-8").csv(SparkFiles.get("amazon_reviews_us_Camera_v1_00.tsv.gz"), sep="\t", header=True, inferSchema=True)
df.show()

+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|marketplace|customer_id|     review_id|product_id|product_parent|       product_title|product_category|star_rating|helpful_votes|total_votes|vine|verified_purchase|     review_headline|         review_body|review_date|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|         US|    2975964|R1NBG94582SJE2|B00I01JQJM|     860486164|GoPro Rechargeabl...|          Camera|          5|            0|          0|   N|                Y|          Five Stars|                  ok| 2015-08-31|
|         US|   23526356|R273DCA6Y0H9V7|B00TCO0ZAA|     292641483|Professional 58mm...|          Camera|          5|            0|          0|   N|                Y|          Love it!!!|Perfect, even stu...| 2015-08-31|
|         US|   52764145| RQVOXO7WUOFK6|B00B7733E0|      75825744|Spy Tec Z12 Motio...|          Camera|          2|            1|          1|   N|                Y|Another Motion De...|If the words, &#3...| 2015-08-31|
|         US|   47348933|R1KWKSF21PO6HO|B006ZN4U34|     789352955|Celestron UpClose...|          Camera|          5|            0|          0|   N|                Y|Exactly what I wa...|Exactly what I wa...| 2015-08-31|
|         US|   33680700|R38H3UO1J190GI|B00HUEBGMU|      19067902|Vidpro XM-L Wired...|          Camera|          5|            1|          1|   N|                Y|Good mic at a Goo...|I will look past ...| 2015-08-31|
|         US|   30301059|R3NPIFKLR19NQA|B008MW6Y12|     597683407|NIX 8 inch Hi-Res...|          Camera|          3|            0|          0|   N|                Y|The controls are ...|The controls are ...| 2015-08-31|
|         US|   28282645|R3MBE6UCH3435E|B00TE8XKIS|      35563334|Polaroid ZIP Mobi...|          Camera|          3|            8|          8|   N|                N|Fun toy for makin...|The printer came ...| 2015-08-31|
|         US|     502818|R2E7A4FF0PVY5Q|B00ZKDUFBQ|     555190742|GeekPro 2.0-Inch ...|          Camera|          5|            0|          1|   N|                Y|          Five Stars|Great camera for ...| 2015-08-31|
|         US|    1481233| R3R8JDQ2BF4NM|B010BZ7S2Q|     129544315|Sony HDR-AZ1VR Ac...|          Camera|          5|            0|          2|   N|                Y|          Five Stars|Product is very g...| 2015-08-31|
|         US|   27885926|R1YND4BS823GN5|B00HRXSSRA|     708418657|ChiliPower DMW-BL...|          Camera|          1|            0|          0|   N|                Y|              Sucky.|Lasted a few hour...| 2015-08-31|
|         US|    3183883|R2TZNSA18V7YF6|B005C95NM4|     246957815|Zeikos Deluxe Fla...|          Camera|          4|            1|          1|   N|                Y|Hand Hold Bracket...|I needed the flas...| 2015-08-31|
|         US|   23208852|R22ZVRDPPXIDNL|B00LBIBYBE|     746593019|  GoPro Hero Filters|          Camera|          5|            0|          0|   N|                Y|          Five Stars|Use these all the...| 2015-08-31|
|         US|   11438825|R1F4O6WOO2W461|B00X3HIM2U|     444991975|Neewer Meike MK-X...|          Camera|          3|            3|          3|   N|                Y|Can't grip the ba...|Same issue as oth...| 2015-08-31|
|         US|   50399582| RT1KLS3QSJNUT|B00KDVQF8W|     304104050|LB Photography Ba...|          Camera|          5|            4|          4|   N|                Y|Super pleased wit...|Super pleased wit...| 2015-08-31|
|         US|   36700181|R222VYJL5K5IRS|B00GUZEZL4|     472875794|Waterproof Camera...|          Camera|          5|            0|          0|   N|                Y|    Excellent value!|These float wrist...| 2015-08-31|
|         US|   47818374|R31LUR7M4PQOLU|B00FB1TBKS|     710827451|Ecolink Z-Wave PI...|          Camera|          5|            0|          0|   N|                Y|       great product|very good on batt...| 2015-08-31|
|         US|   35272750|R1OD3T3Q042LUQ|B00GVMLPT6|     269896170|FotoTech Male to ...|          Camera|          2|            0|          0|   N|                Y|           Two Stars|im not happy, the...| 2015-08-31|
|         US|   11736306|R2QT68OZTT2YKE|B00L8827BI|     145946775|Nikon D3200 Ultim...|          Camera|          5|            0|          0|   N|                Y|          Five Stars|It is a very good...| 2015-08-31|
|         US|   52377008| RMFQF59FG3TD1|B00SIM78R0|     972011051|D-Link Wireless D...|          Camera|          4|            0|          0|   N|                Y|Nice camera, not ...|Nice camera for t...| 2015-08-31|
|         US|    6465510|R1QNYFW6G31R5T|B00EDCZKJ2|     258297575|ZINK Phone Photo ...|          Camera|          1|            1|          3|   N|                N|        Never Agian.|If I could leave ...| 2015-08-31|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
only showing top 20 rows

In [5]:
# Inspect the dataframe schema
df.printSchema()

root
 |-- marketplace: string (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- review_id: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- product_parent: integer (nullable = true)
 |-- product_title: string (nullable = true)
 |-- product_category: string (nullable = true)
 |-- star_rating: integer (nullable = true)
 |-- helpful_votes: integer (nullable = true)
 |-- total_votes: integer (nullable = true)
 |-- vine: string (nullable = true)
 |-- verified_purchase: string (nullable = true)
 |-- review_headline: string (nullable = true)
 |-- review_body: string (nullable = true)
 |-- review_date: string (nullable = true)

In [6]:
# Obtain a total number of rows
df.count()

1801974

### Recreate the vines_table Dataframe

In [7]:
# Recreate the vine_table. DataFrame
vine_df = df.select(["review_id", "star_rating", "helpful_votes", "total_votes", "vine", "verified_purchase"])
vine_df.show()

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
|R1NBG94582SJE2|          5|            0|          0|   N|                Y|
|R273DCA6Y0H9V7|          5|            0|          0|   N|                Y|
| RQVOXO7WUOFK6|          2|            1|          1|   N|                Y|
|R1KWKSF21PO6HO|          5|            0|          0|   N|                Y|
|R38H3UO1J190GI|          5|            1|          1|   N|                Y|
|R3NPIFKLR19NQA|          3|            0|          0|   N|                Y|
|R3MBE6UCH3435E|          3|            8|          8|   N|                N|
|R2E7A4FF0PVY5Q|          5|            0|          1|   N|                Y|
| R3R8JDQ2BF4NM|          5|            0|          2|   N|                Y|
|R1YND4BS823GN5|          1|            0|          0|   N|                Y|
|R2TZNSA18V7YF6|          4|            1|          1|   N|                Y|
|R22ZVRDPPXIDNL|          5|            0|          0|   N|                Y|
|R1F4O6WOO2W461|          3|            3|          3|   N|                Y|
| RT1KLS3QSJNUT|          5|            4|          4|   N|                Y|
|R222VYJL5K5IRS|          5|            0|          0|   N|                Y|
|R31LUR7M4PQOLU|          5|            0|          0|   N|                Y|
|R1OD3T3Q042LUQ|          2|            0|          0|   N|                Y|
|R2QT68OZTT2YKE|          5|            0|          0|   N|                Y|
| RMFQF59FG3TD1|          4|            0|          0|   N|                Y|
|R1QNYFW6G31R5T|          1|            1|          3|   N|                N|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 20 rows

In [8]:
# Verify data types
vine_df.printSchema()

root
 |-- review_id: string (nullable = true)
 |-- star_rating: integer (nullable = true)
 |-- helpful_votes: integer (nullable = true)
 |-- total_votes: integer (nullable = true)
 |-- vine: string (nullable = true)
 |-- verified_purchase: string (nullable = true)

In [9]:
vine_df.count()

1801974

## Determine Bias of Vine Reviews

In [10]:
# STEP 1. Filter data and create a new dataframe to retrieve all 
# the rows where the total_votes count is equal to or greater than 
# 20 to pick reviews that are more likely to be helpful and to avoid
# having division by zero errors later on.
votes20_df = vine_df.filter("total_votes>=20")
votes20_df.show()

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
|R3FJ319XA6ZAUQ|          2|           21|         25|   N|                Y|
| R6HRF25HUMIIE|          5|           24|         24|   N|                Y|
|R2CTAK3APOFKZU|          5|           37|         38|   N|                N|
|R1WQZB0CAEPQBU|          2|           85|        128|   N|                N|
| RHZDSA48HVRVK|          5|           49|         86|   N|                N|
|R190J2PDOZ5GVK|          3|           36|         51|   N|                Y|
|R1WZSWWOTN58OP|          5|           73|         77|   N|                Y|
|R3EM8C9CKA6GPK|          2|           41|        115|   N|                N|
|R29THVJFO35FZA|          5|           48|         50|   N|                Y|
|R3V8FKXIHBLWEL|          5|           91|        108|   N|                Y|
|R3JIIPQ8F0P7QS|          4|           22|         23|   N|                Y|
|R3T9SAE2GZ2CN8|          5|           24|         28|   N|                Y|
|R2O9VZEU64LFXH|          4|          115|        136|   N|                Y|
|R3NET50AD1HMUD|          3|           27|         32|   N|                Y|
| R79ZW8DU56QV6|          1|           43|         47|   N|                N|
| RQN1N103PBM22|          1|           61|         69|   N|                Y|
|R28VHGS18B0YXC|          5|           35|         42|   N|                N|
|R3BWM499VCMGS7|          5|           48|         52|   N|                Y|
|R36SDHRTJ9VEM8|          5|           32|         34|   N|                N|
|R2ILOJ2MACX1GM|          5|           37|         63|   N|                N|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 20 rows

In [11]:
# Obtain a count
votes20_df.count()

59316

In [12]:
# STEP 2. Filter the new DataFrame or table created in Step 1 and  
# create a new DataFrame or table to retrieve all the rows where 
# the number of helpful_votes divided by total_votes is equal to or
# greater than 50%.
helpvotes50_df = votes20_df.filter("helpful_votes/total_votes>=0.50")
helpvotes50_df.show()

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
|R3FJ319XA6ZAUQ|          2|           21|         25|   N|                Y|
| R6HRF25HUMIIE|          5|           24|         24|   N|                Y|
|R2CTAK3APOFKZU|          5|           37|         38|   N|                N|
|R1WQZB0CAEPQBU|          2|           85|        128|   N|                N|
| RHZDSA48HVRVK|          5|           49|         86|   N|                N|
|R190J2PDOZ5GVK|          3|           36|         51|   N|                Y|
|R1WZSWWOTN58OP|          5|           73|         77|   N|                Y|
|R29THVJFO35FZA|          5|           48|         50|   N|                Y|
|R3V8FKXIHBLWEL|          5|           91|        108|   N|                Y|
|R3JIIPQ8F0P7QS|          4|           22|         23|   N|                Y|
|R3T9SAE2GZ2CN8|          5|           24|         28|   N|                Y|
|R2O9VZEU64LFXH|          4|          115|        136|   N|                Y|
|R3NET50AD1HMUD|          3|           27|         32|   N|                Y|
| R79ZW8DU56QV6|          1|           43|         47|   N|                N|
| RQN1N103PBM22|          1|           61|         69|   N|                Y|
|R28VHGS18B0YXC|          5|           35|         42|   N|                N|
|R3BWM499VCMGS7|          5|           48|         52|   N|                Y|
|R36SDHRTJ9VEM8|          5|           32|         34|   N|                N|
|R2ILOJ2MACX1GM|          5|           37|         63|   N|                N|
|R2C9SAXAPMNSAI|          5|           44|         47|   N|                N|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 20 rows

In [13]:
# Obtain a new count
helpvotes50_df.count()

51129

In [14]:
# STEP 3. Filter the DataFrame or table created in STEP 2, and 
# create a new DataFrame or table that retrieves all the rows 
# where a review was written as part of the Vine program (paid), 
# vine == 'Y'.
paid_reviews_df = helpvotes50_df.filter(helpvotes50_df["vine"] == "Y")
paid_reviews_df.show()

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
|R37L6YZDX0P3J9|          1|           28|         35|   Y|                N|
|R2JT4XRQO2KASL|          5|           38|         41|   Y|                N|
|R10XRAOBFFSTL2|          5|           44|         47|   Y|                N|
| R1X8F3R1K1SF5|          2|           30|         31|   Y|                N|
|R326QV66CKBB43|          4|          127|        139|   Y|                N|
| RGXLFTR31J561|          5|           29|         34|   Y|                N|
|R2ZS3WCJYUDQH0|          3|          101|        115|   Y|                N|
|R31771VBPRDVJS|          4|           75|         83|   Y|                N|
| R8O8KM73GO190|          5|           21|         28|   Y|                N|
| RPU1GURA1NOT0|          5|           33|         35|   Y|                N|
|R1LSBTTOR7MC2T|          5|          364|        373|   Y|                N|
|R3M6G50741A8BZ|          5|           24|         30|   Y|                N|
|R23USDQ7OW3CWH|          5|           58|         65|   Y|                N|
|R21XG60MOE370I|          5|           95|        105|   Y|                N|
|R38IT6Q7UDG0AC|          5|           52|         65|   Y|                N|
|R1ZNRVVBZEZPMT|          2|           64|         74|   Y|                N|
|R2UJ5PT023G3XU|          4|           29|         38|   Y|                N|
|R2ZUSNUDLAG4HR|          5|           20|         23|   Y|                N|
| RYCSFTDYMJCXV|          2|           52|         60|   Y|                N|
|R2NKND0YUD25RE|          5|           39|         41|   Y|                N|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 20 rows

In [15]:
# Obtain a new count
paid_reviews_df.count()

607

In [16]:
# STEP 4. Repeat Step 3, but this time retrieve all the rows where 
# the review was not part of the Vine program (unpaid), vine == 'N'.
unpaid_reviews_df = helpvotes50_df.filter(helpvotes50_df["vine"] == "N")
unpaid_reviews_df.show()

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
|R3FJ319XA6ZAUQ|          2|           21|         25|   N|                Y|
| R6HRF25HUMIIE|          5|           24|         24|   N|                Y|
|R2CTAK3APOFKZU|          5|           37|         38|   N|                N|
|R1WQZB0CAEPQBU|          2|           85|        128|   N|                N|
| RHZDSA48HVRVK|          5|           49|         86|   N|                N|
|R190J2PDOZ5GVK|          3|           36|         51|   N|                Y|
|R1WZSWWOTN58OP|          5|           73|         77|   N|                Y|
|R29THVJFO35FZA|          5|           48|         50|   N|                Y|
|R3V8FKXIHBLWEL|          5|           91|        108|   N|                Y|
|R3JIIPQ8F0P7QS|          4|           22|         23|   N|                Y|
|R3T9SAE2GZ2CN8|          5|           24|         28|   N|                Y|
|R2O9VZEU64LFXH|          4|          115|        136|   N|                Y|
|R3NET50AD1HMUD|          3|           27|         32|   N|                Y|
| R79ZW8DU56QV6|          1|           43|         47|   N|                N|
| RQN1N103PBM22|          1|           61|         69|   N|                Y|
|R28VHGS18B0YXC|          5|           35|         42|   N|                N|
|R3BWM499VCMGS7|          5|           48|         52|   N|                Y|
|R36SDHRTJ9VEM8|          5|           32|         34|   N|                N|
|R2ILOJ2MACX1GM|          5|           37|         63|   N|                N|
|R2C9SAXAPMNSAI|          5|           44|         47|   N|                N|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 20 rows

In [17]:
# Obtain a new count
unpaid_reviews_df.count()

50522

In [18]:
# STEP 5. Determine the total number of reviews, the number of 
# 5-star reviews, and the percentage of 5-star reviews for the 
# two types of review (paid vs unpaid).

In [19]:
# Get a count of the paid 5 star ratings
paid_5_star = paid_reviews_df.filter("star_rating == 5").count()
paid_5_star

257

In [20]:
# Get a count of the unpaid 5 star ratings
unpaid_5_star = unpaid_reviews_df.filter("star_rating == 5").count()
unpaid_5_star

25220

In [21]:
# Get the 5 star ratings for the paid and unpaid reviews
fivestar_df = helpvotes50_df.filter("star_rating == 5").groupBy("vine").count()
fivestar_df = fivestar_df.withColumnRenamed("count","five_star_ratings")
fivestar_df.show()

+----+-----------------+
|vine|five_star_ratings|
+----+-----------------+
|   Y|              257|
|   N|            25220|
+----+-----------------+

In [22]:
# Create a table for the vine counts
totals_table = helpvotes50_df.groupBy("vine").count()
totals_table.show()

+----+-----+
|vine|count|
+----+-----+
|   Y|  607|
|   N|50522|
+----+-----+

In [23]:
# Join the tables on the vine column
summary_table = totals_table.join(fivestar_df,["vine"])
summary_table.show()

+----+-----+-----------------+
|vine|count|five_star_ratings|
+----+-----+-----------------+
|   Y|  607|              257|
|   N|50522|            25220|
+----+-----+-----------------+

In [24]:
# Add a calculated column for the percentage of 5 star ratings
summary_table.withColumn("prct_five_star",(summary_table["five_star_ratings"]/summary_table["count"])).show()

+----+-----+-----------------+------------------+
|vine|count|five_star_ratings|    prct_five_star|
+----+-----+-----------------+------------------+
|   Y|  607|              257|0.4233937397034596|
|   N|50522|            25220|0.4991884723486798|
+----+-----+-----------------+------------------+